# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# IDE
.DS_Store

# VSCode workspace
*.code-workspace
.vscode/

cypress/plugins
cypress/fixtures
cypress/support